*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}
html, body {
	background-color: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
}
h1, h2, h3 {
	color: #454545;
}
h1 {
	font-size: 4rem;
	font-weight: 700;
}
h2 {
	font-size: 3rem;
	font-weight: 900;
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
}
p {
	color: #a1a1a1;
	font-size: 1.5rem;	
}
a {
	font-size: 1.5rem;
}
button {
	background-color: #1eb858;
	border: none;
	border-radius: 0 .5rem .5rem 0;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0 2rem;
	text-transform: uppercase;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	height: 3rem;
}
button:hover,
button:focus {
	-webkit-box-shadow: inset 0 0 .3rem #000000;
	        box-shadow: inset 0 0 .3rem #000000;
}
input {
	border: none;
	border-radius: .5rem 0 0 .5rem;
	padding-left: 1.5rem;
	height: 3rem;
	width: 20rem;
}
.container {
	overflow: hidden;
}
.fas, .far {
	color: #1eb858;
	font-size: 6rem;
	padding: 2rem;
}

/* Header */
nav.navbar {
	background-color: #f3f3f3;
	letter-spacing: 1px;
	padding-top: 1.7rem;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
nav.effect_navbar {
	background-color: #ffffff;
	padding: .5rem 1rem .5rem;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
nav .navbar-brand {
	padding-top: .5rem;
}
nav .navbar-brand img {
	max-height: 2.5rem;
	width: 100%;
}
nav .navbar-nav a.nav-link {
	padding: .5rem 1rem !important;
	color: #111111 !important;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
nav.navbar a:hover,
nav.navbar a:focus {
	color: #A1A1A1 !important;
}

/* Main */
.main {
	padding: 10rem 0 4rem;
}
.main .main_info {
	padding-bottom: 2rem;
}

/* Clients */
.clients {
	background-color: #1eb858;
}
.clients img {
	opacity: .6;
	padding: 2rem 3rem;
}

/* Features */
.features {
	background-color: #ffffff;
	padding: 7rem 0;
}
.features h3 {
	text-transform: uppercase;
}

/* Product */
.product_first {
	background-color: #f9f9f9;
	padding: 4rem 0;
}
.product_second {
	background-color: #ffffff;
	padding: 4rem 0;
}
.product_first .product_item__info, .product_second .product_item__info {
	text-align: justify;
}
.product_first .product_item__info h2, .product_second .product_item__info h2 {
	text-align: left;
}
.product_first .product_item__info ul, .product_second .product_item__info ul {
	color: #a1a1a1;
	text-align: left;
	padding-left: 2rem;
}

/* moreFeatures */
.moreFeatures {
	padding: 8rem 0;
	background-color: #F2F2F2;
}

/* buying */
.buying {
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6))), url(../images/image-bg.jpg) no-repeat center center;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/image-bg.jpg) no-repeat center center;
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/image-bg.jpg) no-repeat center center;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/image-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 200px 0;
}
.buying h2 {
	color: #ffffff;
	font-size: 2.5rem;
}
.buying button {
	border: 2px solid;
	border-color: #1eb858;
	border-radius: .5rem;
}
.buying button:hover,
.buying button:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	        box-shadow: none;
	color: #1eb858;
}

/* testimonials */
.testimonials {
	background-color: #f4f4f4;
	padding: 8rem 0;
}
.testimonials img {
	width: 7rem !important;
	height: 7rem;
	margin: 0 auto;
}
.testimonials p {
	padding: 1.5rem 1rem;
}

/* pricingPlans */
.pricingPlans {
	background-color: #ffffff;
	padding: 8rem 0;
}
.pricingPlans .pricingPlans_header h2 {
	color: #333333;
	font-weight: 600;
}
.pricingPlans_choice {
	padding-bottom: 3rem;
}
.pricingPlans .pricingPlans_choice__item1,
.pricingPlans .pricingPlans_choice__item2,
.pricingPlans .pricingPlans_choice__item3 {
	-webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
	        box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
	padding: 1.5rem 1.5rem 3rem 1.5rem;
}
.pricingPlans .pricingPlans_choice .pricingPlans_choice__item1,
.pricingPlans .pricingPlans_choice .pricingPlans_choice__item3 {
	margin-top: 1.5rem;
}
.pricingPlans h2 {
	color: #808080;
	font-size: 2rem;
	font-weight: 500;
}
.pricingPlans h3 {
	color: #333333;
	padding: .5rem 0;
}
.pricingPlans p {
	color: #333333;
	line-height: 2;
	padding: .5rem 0 2rem;
}
.pricingPlans button {
	border: 2px solid;
	border-color: #1eb858;
	border-radius: .5rem;
}
.pricingPlans button:hover,
.pricingPlans button:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	        box-shadow: none;
	color: #1eb858;
}

/* subscription */
.subscription {
	padding: 10rem 0;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.9))), url(../images/cta_bg.jpg) no-repeat center center;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/cta_bg.jpg) no-repeat center center;
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/cta_bg.jpg) no-repeat center center;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/cta_bg.jpg) no-repeat center center;
	background-size: cover;
}
.subscription h2, .subscription p {
	color: #ffffff;
	padding: .5rem 0;
}
.subscription button {
	border: 2px solid;
	border-left: 0;
	border-color: #1eb858;
}
.subscription button:hover,
.subscription button:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	        box-shadow: none;
	color: #1eb858;
}

/* footer */
footer {
	background-color: #f3f3f3;
	padding: 5rem 0 2rem;
	text-align: left;
}
footer img {
	margin-bottom: 1.5rem;
}
footer p:last-child {
	color: #1eb858;
}
footer a {
	color: #23527c;
}
footer i.fas {
	font-size: 1rem;
	padding: 0;
}

/* Button scroll to top*/
#back_top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: none;
}
#back_top .fas {
	font-size: 3.5rem;
}

/* Extra Large desktops and laptops */
@media (min-width: 1920px) {
	html, body {
		font-size: 16px;
	}
}
@media (min-width: 1440px) and (max-width: 1919px) {
	html, body {
		font-size: 14px;
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html, body {
		font-size: 13px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 12px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 11px;
	}

	/* main style */
	.main_img img {
		width: 75%;
	}

	/* features style*/
	.features_img-container {
		display: none;
	}

	/* product style */
	.product_item__image img {
		width: 75%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 10px;
	}

	/* main style */
	.main_img img {
		width: 40%;
	}

	/* features style*/
	.features_description .row * {
		padding: .3rem;
	}
	.features_img-container {
		display: none;
	}

	/* product style */
	.product_item__image img {
		width: 40%;
		padding-bottom: 2rem;
	}
	
	/* pricing style */
	.pricingPlans .pricingPlans_choice .pricingPlans_choice__item1,
	.pricingPlans .pricingPlans_choice .pricingPlans_choice__item2,
	.pricingPlans .pricingPlans_choice .pricingPlans_choice__item3 {
		margin-top: 2rem;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 8px;
	}

	/* features style*/
	.features_description .row * {
		padding: .2rem;
	}
	.features_img-container {
		display: none;
	}
}